#display {
    height: 10%;
    width: 80%;
    background-color: black;
    padding: 2px;
    font-size: 120%;
    /* direction:rtl; */
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 12px 12px 12px black;
    color: aliceblue;

}